In [1]:
# Import packages
import requests
from bs4 import BeautifulSoup
import wikipedia
import re

In [51]:
def get_birthplace(name):
    wikipedia_url = wikipedia.page(name).url
    print(wikipedia_url)
    req = requests.get(wikipedia_url)
    html_doc = req.text
    soup = BeautifulSoup(html_doc)
    
    infobox = soup.find('table', {"class": "infobox"})
    
    bday_raw = infobox.find('span', {"class":'bday'})
    print(bday_raw)
#     bday = [re.sub('<.*?>', "", str(i)) for i in bday_raw][0]
    
#     bplace_raw = infobox.find('span', {"class": 'birthplace'})
    
#     bplace_list = [re.sub('<.*?>', "", str(i)) for i in bplace_raw]
    
#     bplace = ''.join(bplace_list)
    
#     roles = infobox.find('td', {"class": 'role'})
#     return print(bday, bplace)

In [35]:
get_birthplace("Angelina Jolie")

Angelina Jolie
1975-06-04 Los Angeles, California, U.S.

In [36]:
get_birthplace("Brad Pitt")

Brad Pitt
1963-12-18 Shawnee, Oklahoma, U.S.

In [37]:
get_birthplace("Jackie Chan")

Jackie Chan
1954-04-07 Victoria Peak, British Hong Kong

In [39]:
get_birthplace("Nicole Kidman")

Nicole Kidman
1967-06-20 Honolulu, Hawaii, U.S.

In [40]:
get_birthplace("Nicolas Cage")

Nicolas Cage
1964-01-07 Long Beach, California, U.S.

In [41]:
get_birthplace("Emma Watson")

Emma Watson
1990-04-15 Paris, France

In [44]:
get_birthplace("Albert Einstein")

Albert Einstein
1879-03-14 Ulm, Kingdom of WÃ¼rttemberg, German Empire

In [48]:
get_birthplace('Eddie Redmayne')

Eddie Redmayne
1982-01-06 London, England

In [52]:
get_birthplace('J. K. Rowling')

https://en.wikipedia.org/wiki/J._K._Rowling

TypeError: 'NoneType' object is not iterable